/* Estilo geral */
body {
    font-family: Arial, sans-serif;
    background-color: #000000; /* Fundo escuro */
    color: #ffffff;
    margin: 0;
    padding: 0;
}


/* Cabeçalho */
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 2rem;
    background-color: #1a002b;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
}

.header .logo span {
    font-size: 1.5rem;
    font-weight: bold;
    color: #c14fff;
    text-shadow: 0 0 10px #c14fff, 0 0 20px #c14fff;
}

.header nav {
    display: flex;
    gap: 2.5rem; /* Aumentei o espaçamento entre os links */
}

.header nav a {
    text-decoration: none;
    font-size: 1.1rem;
    color: white;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

.header nav a:hover {
    color: #c14fff; /* Muda para roxo claro ao passar o mouse */
    transform: scale(1.1); /* Efeito de destaque */
}

/* Barra de pesquisa */
.header .search-bar {
    flex-grow: 1; /* Permite que a barra de busca ocupe o máximo de espaço */
    margin: 0 2rem;
    display: flex;
}

.header .search-bar input {
    width: 60%; /* Reduzi a largura da barra de pesquisa */
    padding: 0.5rem; /* Diminui o padding da barra */
    border-radius: 5px;
    border: 1px solid #333;
    background-color: #ffffff;
    color: #333;
    font-size: 1rem;
     ;
}

.header .search-bar input::placeholder {
    color: #777;
}
.header  #c{
    margin-left: 210px;
}
.header  #v{
    margin-right:  500px;
}

/* Container principal */
.container {
    max-width: 1200px;
    margin: 2rem auto;
    padding: 0 1rem;
}

.category {
    font-size: 1.2rem;
    font-weight: bold;
    color: #c14fff;
    margin-bottom: 1rem;
}

/* Lista de cards */
.cards {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}


/* Estilo dos cards */
.card {
    display: flex;
    align-items: center;
    background-color:#151515;
    border-radius: 0.5rem;
    padding: 1rem;
    gap: 1rem;
    border: 1px solid #444;
    width:100%;
    height: 80px;
    
}



.card-content {
    flex-grow: 1;
}

.card-content h3 {
    font-size: 1.4rem;
    color: #c14fff;
    margin: 0;
}

.card-content p {
    font-size: 1rem;
    margin: 1rem;
    color: #fff;
}

.card button {
    background-color: #9b4fff;
    color: #ffffff;
    border: none;
    padding: 1rem 2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

.card button:hover {
    background-color: #b76aff;
}

/* Responsividade */
@media (max-width: 768px) {
    .header {
        flex-direction: column; /* Navbar empilhada */
        gap: 1rem;
    }

    .header nav, .header .search-bar {
        width: 100%;
    }

    .filters input {
        width: 100%;
    }

    .card img {
        width: 100%;
        height: auto;
    }

    .card-content {
        text-align: center;
    }
}
