
body {
    background-color: #000000f7 ; 
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #f1f1f1;
    margin: 0;
}

.no-events-message {
  font-size: 18px; 
  color: #504f4f; 
  font-weight: bold; 
  text-align: center; 
  padding: 20px; 
 
  border-radius: 5px; 
  margin-top: 20px; 
}

.navbar {
    height: 90px;
    background-color: #1d0f2f;
    padding: 0 16px;
  }
  
  .navbar-brand {
    color: white;
    margin-left: 16px;
    -webkit-text-stroke: 1px #48008B;
    font-weight: bold;
    text-shadow: 0px 0px 10px #a443ff;
    font-style: italic;
    font-size: 45px;
  }
  
  .navbar-text {
    margin-right: 16px;
    gap: 40px;
    margin-left: auto;
    font-weight: 600;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .navbar-text .homepage {
    text-decoration: none;
    color: #ffffff;
  }
  
  .navbar-text .homepage:hover {
    color: #b067ff;
    text-shadow: 0px 0px 5px rgba(176, 103, 255, 0.7);
  }
  
  .navbar-text .logo {
    text-decoration: none;
    color: #ffffff;
    -webkit-text-stroke: 1px #48008B;
    margin-left: 16px;
    font-weight: bold;
    font-style: italic;
    text-shadow: 0px 0px 20px #a443ff;
    font-size: 24px;
  }
  
  .navbar-text .logo img {
    width: 30px;
    height: auto;
    margin-left: 8px;
  }

.navbar a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 32px;
    padding: 10px 15px;
}



/* Títulos das categorias */
h2 {
    color: #000000; 
    font-size: 24px;
    margin-bottom: 20px;
}

/* Cards */
.card {
    border: none;
    border-radius: 10px;
    background-color:#151515; 
    transition: transform 0.2s, box-shadow 0.2s;
    margin-bottom: 20px;
}
strong{
    color:#b067ff;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.card-title {
    color: #b067ff; 
    font-size: 20px;
    margin-bottom: 10px;
}

.card-text {
    color: #ffffff; 
    font-size: 16px;
}
.confirmation-popup {
  
    z-index: 2000; /* Garante que o popup fique acima do modal */
    position: fixed;
    top: 0; 
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.947); 
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fadeIn 0.4s ease; /* Animação de entrada */
    }
    
  
  /* Animação de entrada */
  @keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
  }
  
  /* Conteúdo do pop-up */
  .popup-content {
    background-color: #444;
    color: #fff;
    padding: 30px;
    border-radius: 15px;
    text-align: center;
    max-width: 400px;
    width: 100%;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); 
    transform: scale(0.9); /* Tamanho inicial para animação */
    animation: popUp 0.3s ease forwards; /* Animação de "pop" */
  }
  
  /* Animação de escala (pop) */
  @keyframes popUp {
    from { transform: scale(0.9); }
    to { transform: scale(1); }
  }
  
  /* Estilo do título */
  .popup-content h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffffff;
  }
  
  /* Botão de ação */
  .popup-content button {
    padding: 10px 25px;
    background-color: #b067ff;
    color: #fff;
    border: none;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  /* Hover do botão */
  .popup-content button:hover {
    background-color: #9e55e8;
    transform: scale(1.05);
  }
  .d-none {
    display: none;
  }
  
  .close {
    color: #fff;
    font-size: 30px;
    position: absolute;
    top: 10px;
    right: 20px;
    cursor: pointer;
  }
  

/* Botões */
.btn-primary {
    background-color: #48008B; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-primary:hover {
    background-color: #7027b4; 
}

.btn-secondary {
    background-color: #5A5858; 
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary:hover {
    background-color: #9e55e8; 
}

/* Ajustes de layout */
.container {
    padding: 30px;
}

/* Melhora a aparência das colunas para cards */
.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

/* Botão de voltar para a home */
.btn-home {
    background-color: #343a40; 
    border: none;
    color: white;
    padding: 12px 20px;
    font-size: 16px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    cursor: pointer;
}

.btn-home:hover {
    background-color: #7027b4; 
}
