
body {
  background-color: #000000;
}
.navbar-custom {
  height: 90px;
  background-color: #1d0f2f;
  padding: 0 16px;
}
.navbar-brand {
  color: white;
  margin-left: 16px;
  -webkit-text-stroke: 1px #48008B;
  font-weight: bold;
  text-shadow: 0px 0px 10px #a443ff;
  font-style: italic;
  font-size: 45px;
}
.confirmation-popup {

  z-index: 2000; /* Garante que o popup fique acima do modal */
  position: fixed;
  top: 0; /* Ajusta o popup para cobrir a tela inteira */
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.947); /* Fundo escuro, agora sem transparência */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeIn 0.4s ease; /* Animação de entrada */
  }
  

/* Animação de entrada */
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

/* Conteúdo do pop-up */
.popup-content {
  background-color: #444;
  color: #fff;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
  max-width: 400px;
  width: 100%;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.3); /* Sombra */
  transform: scale(0.9); /* Tamanho inicial para animação */
  animation: popUp 0.3s ease forwards; /* Animação de "pop" */
}

/* Animação de escala (pop) */
@keyframes popUp {
  from { transform: scale(0.9); }
  to { transform: scale(1); }
}

/* Estilo do título */
.popup-content h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #ffffff;
}

/* Botão de ação */
.popup-content button {
  padding: 10px 25px;
  background-color: #b067ff;
  color: #fff;
  border: none;
  font-size: 18px;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

/* Hover do botão */
.popup-content button:hover {
  background-color: #9e55e8;
  transform: scale(1.05);
}

/* Classe oculta */
.d-none {
  display: none;
}

.close {
  color: #fff;
  font-size: 30px;
  position: absolute;
  top: 10px;
  right: 20px;
  cursor: pointer;
}
.navbar-text {
  margin-right: 16px;
  gap: 40px;
  margin-left: auto;
  font-weight: 600;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar-text .homepage {
  text-decoration: none;
  color: #ffffff;
}
.navbar-text .homepage:hover {
  color: #b067ff;
  text-shadow: 0px 0px 5px rgba(176, 103, 255, 0.7);
}
.logo{
  margin-right: 10px;
}
.form-container {
  background-color: #3d3d3d;
  padding: 1% 2%;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-top: 2%;
}
.form-label {
  color: #ffffff;
}
.form-control, .form-select {
  border-color: #ced4da;
  color: #495057;
}
.btn-primary {
  background-color: #48008b;
  border-color: white;
}
.btn-primary:hover {
  background-color: #591e8a;
  border-color: #591e8a;
}
.is-invalid {
  border-color: #dc3545;
}
